.shipments-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 250px;
    grid-gap: 10px;
}

.controls-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    & p {
        margin-right: auto;
        font-size: large;
    }
}

input[type="text"] {
    height: 30px;
    font-size: medium;
    border: 1px solid #707070;
    padding: 5px;
}

@media (max-width: 950px) {
    .shipments-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 350px;
        grid-gap: 10px;
    }
}

@media (max-width: 500px) {
    .shipments-container {
        display: block;
    }
}