select {
    font-size: larger;
    margin: 20px;
    background: #273735;
    color: currentColor;
    border: 1px solid lightblue;
}

.select-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 76px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6f9e97;
    transition: 0.4s;
    border-radius: 25px;
}

.slider:before {
    position: absolute;
    content: "ASC";
    height: 20px;
    width: 41px;
    left: 4px;
    bottom: 7px;
    background-color: white;
    transition: 0.4s;
    border-radius: 12px;
}

input:checked+.slider {
    background-color: #2196f3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider:before {
    content: "DES";
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.sort-by {
    margin-right:3px;
}