input {
    outline: none;
}

.form-group {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-label {
    flex: 1;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
}

.form-input {
    flex: 2;
    outline: none;
    resize: vertical;
}

.shipment-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-button {
    height: 35px;
    width: 90px;
    background: teal;
    border: none;
    color: white;
    font-size: large;
}